<div class="wrapper">
    <mat-card class="project">
        <img *ngIf="project.bannerUrl !== ''" mat-card-image
             [attr.src]="project.bannerUrl">
        <mat-card-title>{{ project.title}}</mat-card-title>
        <mat-card-subtitle>{{ project.description }}</mat-card-subtitle>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
            <app-tag-chips [tags]="projectGoals" [icons]="projectIcons" [readonly]="true" [background]="goalsBackground"
                           collapsedText="true"></app-tag-chips>
            <app-tag-chips [tags]="projectCompetencies" [readonly]="true"
                           [background]="competenciesBackground"></app-tag-chips>
        </mat-card-actions>
    </mat-card>
</div>
