<app-overview-toolbar [searchPanelState]="searchPanelState" (menuItemEventEmitter)="onMenuItemClicked($event)"></app-overview-toolbar>
<div [@searchPanelAnimation]="searchPanelState">
    <app-search-panel [goalsValuesMap]="goalsValuesMap"
                      [goalsBackgroundColor]="goalsBackgroundColor"
                      [competenciesValuesMap]="competenciesValuesMap"
                      [competenciesBackgroundColor]="competenciesBackgroundColor"
                      [partnersMap]="partnersMap"
                      (goalsSelectedEmitter)="onGoalsSelected($event)"
                      (competenciesSelectedEmitter)="onCompetenciesSelected($event)"></app-search-panel>
</div>

<div class="content">
    <app-project-list [projectsMap]="projectsMapFiltered"
                      [goalsMap]="selectableGoalsMap"
                      [goalsBackground]="goalsBackgroundColor"
                      [competenciesMap]="selectableCompetenciesMap"
                      [competenciesBackground]="competenciesBackgroundColor"
                      [partnersMap]="partnersMap">
    </app-project-list>
</div>
