<app-overview-toolbar (menuItemEventEmitter)="onMenuItemClicked($event)"></app-overview-toolbar>
<div [@searchPanelAnimation]="searchPanelState">
    <app-search-panel [goalsMap]="goalsMap"
                      [goalsBackgroundColor]="goalsBackgroundColor"
                      [competenciesMap]="competenciesMap"
                      [competenciesBackgroundColor]="competenciesBackgroundColor"
                      [partnersMap]="partnersMap"
                      (goalsSelectedEmitter)="onGoalsSelected($event)"
                      (competenciesSelectedEmitter)="onCompetenciesSelected($event)"></app-search-panel>
</div>

<div class="content">
    <app-project-list [projectsMap]="projectsMapFiltered"
                      [goalsMap]="goalsMap"
                      [goalsBackground]="goalsBackgroundColor"
                      [competenciesMap]="competenciesMap"
                      [competenciesBackground]="competenciesBackgroundColor"
                      [partnersMap]="partnersMap">
    </app-project-list>
</div>
