<div class="content">
    <app-search-panel-topics [valuesMap]="goalsValuesMap"
                             [border]="goalsBackgroundColor"
                             [background]="goalsBackgroundColor"
                             (tagsChangedEmitter)="onGoalsSelected($event)">
    </app-search-panel-topics>
    <app-search-panel-topics [valuesMap]="competenciesValuesMap"
                             [border]="competenciesBackgroundColor"
                             [background]="competenciesBackgroundColor"
                             (tagsChangedEmitter)="onCompetenciesSelected($event)">
    </app-search-panel-topics>
    <div class="flexcontainer">
        <app-search-panel-costs class="flexbox"
                                [value]="costPerChildValue"
                                [minValue]="costPerChildMin"
                                [maxValue]="costPerChildMax"
                                [color]="costPerChildColor"
                                (valueChangedEmitter)="onPriceSelected($event)">
        </app-search-panel-costs>
        <!--    <div class="flexbox"></div>-->
        <app-search-panel-times class="flexbox"
                                [lessThanOneHour]="lessThanOneHour"
                                [betweenOneAndTwoHours]="betweenOneAndTwoHours"
                                [betweenTwoAndFourHours]="betweenTwoAndFourHours"
                                [betweenOneAndTwoDays]="betweenOneAndTwoDays"
                                [moreThanTwoDays]="moreThanTwoDays"
                                (lessThanOneHourChangedEmitter)="onLessThanOneHourChanged($event)"
                                (betweenOneAndTwoHoursChangedEmitter)="onBetweenOneAndTwoHoursChanged($event)"
                                (betweenTwoAndFourHoursChangedEmitter)="onBetweenTwoAndFourHoursChanged($event)"
                                (betweenOneAndTwoDaysChangedEmitter)="onBetweenOneAndTwoDaysChanged($event)"
                                (moreThanTwoDaysChangedEmitter)="onMoreThanTwoDaysChanged($event)">
        </app-search-panel-times>
    </div>
</div>
