//
// Custom
//

.icon, .mat-icon {
  font-size: 20px;
  height: 20px !important;
  width: 30px !important;
}

.delete-button {
  height: 14px;
  width: 14px;
  margin-top: -14px;
  margin-left: 10px;
}

.hidden {
  display: none;
}

//
// Material
//

::ng-deep .mat-standard-chip:focus::after {
  opacity: 0.0 !important;
}

mat-chip {
  &:hover .hidden {
    display: inline-block;
  }
}
