<div class="list">
    <app-project-list-item *ngFor="let p of projects"
                           class="list-item"
                           [project]="p"
                           [goalsMap]="goalsMap"
                           [goalsBackground]="goalsBackground"
                           [competenciesMap]="competenciesMap"
                           [competenciesBackground]="competenciesBackground"
                           [partnersMap]="partnersMap"
                           (click)="onProjectClicked(p.id)">
    </app-project-list-item>
</div>
