@import '../../../../../sizes';
@import '../../../../../styles';
@import '../../../../../flex';

.content {
  @media #{$breakpoint-small} {
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
  }
  @media #{$breakpoint-medium} {
    padding: 20px;
    margin: 0 auto;
    width: 450px;
  }
  @media #{$breakpoint-large} {
    margin: 0 auto;
    width: 600px;
  }
}

.project-logo {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  border-radius: 4px;

  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
  0 1px 1px 0 rgba(0, 0, 0, 0.14),
  0 1px 3px 0 rgba(0, 0, 0, 0.12);

  width: calc(100% + 32px);
}

.project-basic-information, .project-tags, .project-detailed-information, .project-action {
  margin-top: 20px;
  margin-bottom: 20px;
}

.project-basic-information-logo {
  font-size: 18px;
  vertical-align: middle;
}

.project-basic-information-text {
  align-items: center;
  vertical-align: top;
}

.align-top {
  margin-top: -10px;
}
