<div class="content">
    <mat-checkbox class="block"
                  [checked]="lessThanOneHour[0]"
                  [disabled]="lessThanOneHour[1]"
                  (change)="onLessThanOneHourChanged($event)">
        <span [class.disabled]="lessThanOneHour[1]">< 1 Stunde</span>
    </mat-checkbox>
    <mat-checkbox class="block"
                  [checked]="betweenOneAndTwoHours[0]"
                  [disabled]="betweenOneAndTwoHours[1]"
                  (change)="onBetweenOneAndTwoHoursChanged($event)">
        <span [class.disabled]="betweenOneAndTwoHours[1]">1-2 Stunden</span>
    </mat-checkbox>
    <mat-checkbox class="block"
                  [checked]="betweenTwoAndFourHours[0]"
                  [disabled]="betweenTwoAndFourHours[1]"
                  (change)="onBetweenTwoAndFourHoursChanged($event)">
        <span [class.disabled]="betweenTwoAndFourHours[1]">2-4 Stunden</span>
    </mat-checkbox>
    <mat-checkbox class="block"
                  [checked]="betweenOneAndTwoDays[0]"
                  [disabled]="betweenOneAndTwoDays[1]"
                  (change)="onBetweenOneAndTwoDaysChanged($event)">
        <span [class.disabled]="betweenOneAndTwoDays[1]">1-2 Tage</span>
    </mat-checkbox>
    <mat-checkbox class="block"
                  [checked]="moreThanTwoDays[0]"
                  [disabled]="moreThanTwoDays[1]"
                  (change)="onMoreThanTwoDaysChanged($event)">
        <span [class.disabled]="moreThanTwoDays[1]">> 2 Tage</span>
    </mat-checkbox>
</div>
